{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Showroom</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center my-4">
                <h1>Car Showroom</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12 text-right">
            <button id="view-grid" class="btn btn-primary">Grid View</button>
            <button id="view-list" class="btn btn-secondary">List View</button>
            </div>
        </div>
        <div class="row" id="car-container" data-view="list">
            {% for car in cars %}
            <div class="col-md-6 offset-md-3 mb-4 car-item list-view">
                <div class="card position-relative">
                <button type="button" class="close position-absolute" style="top: 10px; right: 10px;" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="{{ car.image.url }}" class="card-img" alt="{{ car.name }}">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.nama }}</h5>
                        <p class="card-text">Harga: Rp.{{ car.harga }}</p>
                        <p class="card-text">Tahun: {{ car.tahun }}</p>
                        <p class="card-text">Model: {{ car.model }}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 car-item grid-view d-none">
                <div class="card">
                <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ car.nama }}</h5>
                    <p class="card-text">Harga: Rp.{{ car.harga }}</p>
                    <p class="card-text">Tahun: {{ car.tahun }}</p>
                    <p class="card-text">Model: {{ car.model }}</p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>

    <script src="{% static "js/custom.js" %}"></script>
</body>
</html>